body {
    font-family: sans-serif;
    font-size: 1em;
    color: #fff;
    min-width: 320px;
    position: relative;
    font-family: 'Exo 2', sans-serif;
    overflow-x: hidden;
    max-width: 100%;
    height: 100%;
}
img {
    max-width: 100%;
}
a:hover, a:active, a:focus {
    text-decoration: none;
}
a.button {
    display: block;
    max-width: 100%;
    cursor: pointer;
    text-decoration: none;
    width: 280px;
    height: 52px;
    border-radius: 40px;
    background-color: #ffc000;
    color: #fff;
    line-height: 2.6;
    font-weight: bold;
    font-size: 1.1em;
    text-align: center;
    margin: 0 auto;
    box-shadow: 2.407px 3.195px 16.56px 1.44px rgba(255, 174, 0, 0.52);
    -webkit-transition: color 0.2s ease-out,opacity 0.2s ease-out,background 0.2s ease-out;
    -o-transition: color 0.2s ease-out,opacity 0.2s ease-out,background 0.2s ease-out;
    transition: color 0.2s ease-out,opacity 0.2s ease-out,background 0.2s ease-out;
}
a.button:hover,
a.button:active,
a.button:focus {
    box-shadow: none;
}
.wrapper {
    max-width: 1240px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0 20px;
}
h2.section-title {
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
}
h5 {
    font-size: 1.2em;
    color: rgb(3, 146, 188);
    line-height: 1.2;
    text-align: center;
}

/**********Header-menu**********/

.header {
    background: #fff;
    /*position: fixed;*/
    width: 100%;
    z-index: 120;
    border-bottom: 4px solid rgb(24, 139, 199);
}
.header-wrap {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 15px;
}
.logo-header__title {
    font-size: 0.64em;
    color: #9b9b9b;
    padding-bottom: 15px;
}
.logo-menu-wrap__total {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
}
.logo-menu-wrap {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
}
.logo-header {
    margin-right: 48px;
    margin-top: 7px;
}
.logo-header__img {
    width: 120px;
}
.menu__links {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.menu__links-item {
    list-style-type: none;
    font-size: 1.06em;
    padding-right: 1.88em;
}
.menu__links-item a {
    color: #000;
    line-height: 1.2;
    -webkit-transition: color 0.5s ease;
    -o-transition: color 0.5s ease;
    transition: color 0.5s ease;
}
.menu__links-item a:hover, 
.menu__links-item a:active, 
.menu__links-item a:focus, 
.our-contacts__mail:hover, 
.our-contacts__mail:active, 
.our-contacts__mail:focus,
.our-contacts__phone:hover, 
.our-contacts__phone:active, 
.our-contacts__phone:focus {
    color: #188bc7;
}
.our-contacts {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    justify-content: space-between;
    -ms-align-items: flex-end;
    align-items: flex-end;
}
.our-contacts__mail,
.our-contacts__phone,
.our-contacts__text {
    font-size: 0.88em;
}
.our-contacts__text {
    font-weight: bold;
    color: #188bc7;
}
.our-contacts__mail {
    font-weight: bold;
}

/*Adaptive menu*/

.menu__icon {
    display: none;
    width: 45px;
    height: 35px;
    position: relative;
    left: 0;
    bottom: -11px;
    cursor: pointer;
    margin-right: 20px;
    z-index: 100;
}
.menu__icon span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: rgb(155, 153, 153);
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}
.menu__icon:hover span {
    background: rgba(65, 65, 65, 0.8);
}
.menu__icon span:nth-child(1) {
    top: 0px;
}
.menu__icon span:nth-child(2), .menu__icon span:nth-child(3) {
    top: 13px;
}
.menu__icon span:nth-child(4) {
    top: 26px;
}
.menu.menu_state_open .menu__icon span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}
.menu.menu_state_open .menu__icon span:nth-child(2) {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}
.menu.menu_state_open  .menu__icon span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
}
.menu.menu_state_open  .menu__icon span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}
.menu.menu_state_open .menu__links {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    line-height: 34px;
    margin-top: 27px;
    margin-bottom: 21px;
    position: relative;
    z-index: 90;
    margin-top: 0;
}
.menu.menu_state_open {
    position: relative;
    top: 20px;
    background-color: transparent;
    opacity: 1;
}
.menu.menu_state_open li.menu__links-item {
    padding-right: 0;
}
.hidden-div {
    display: none;
}

/***********---------Section-Header-Main---------***********/

.header-main {
    height: 700px;
    background: #436989;
    background-image: url(../img/header-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 115px;
}
.header-main__wrap {
    padding-top: 50px;
    padding-bottom: 80px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
}
.header-main__descr {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -ms-align-items: flex-start;
    align-items: flex-start;
    justify-content: center;
}
h1.header-main__title {
    font-size: 1.65em;
    font-weight: bold;
    line-height: initial;
    text-transform: uppercase;
    padding: 45px 0 30px;
}
.header-main__subtitle {
    font-size: 1.1em;
    font-weight: 100;
}
.header-main__list {
    list-style: none;
    padding-left: 10px;
}
.header-main__item {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    /*padding-bottom: 10px;*/
}
.header-main__item img {
    padding-right: 30px;

}
.header-main__item span {
    font-size: 1.1em;
    line-height: 2.7;
}
.cons-form {
    width: 412px;
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.23);
    padding: 40px 60px;
    text-align: center;
}
.cons-form__title {
    font-size: 1.3em;
    font-weight: bold;
    text-transform: uppercase;
}
.cons-form__descr {
    font-size: 1em;
    line-height: 1.2;
    font-weight: 300;
    padding: 20px 0 35px;
}
.cons-form .input-name,
.cons-form .input-phone {
    color: #fff;
    padding-left: 15px;
    border-radius: 5px;
    border: 1px solid #fff;
    background: transparent;
    width: 280px;
    max-width: 100%;
    height: 40px;
    margin-bottom: 15px;
}
/*.star {
    padding-right: 5px;
}*/
/*.input-name:focus ~ .placeholder,
.input-name:valid ~ .placeholder,
.input-phone:focus ~ .placeholder,
.input-phone:valid ~ .placeholder,
.input-mail:focus ~ .placeholder,
.input-mail:valid ~ .placeholder {
  display:none;
}*/
.cons-form input::-webkit-input-placeholder {
    font-size: 1em;
    color: rgba(255, 255, 255);
    line-height: 1.25;
}
a.cons-form__button {
    margin-top: 20px;
}

/*************----------Section-Whom----------*************/

.whom {
    position: relative;
    width: 100%;
    height: auto;
    background: #0c71b9;
    background: linear-gradient(to right, #0c75bb 46%, #0c68b4, #1e54a7 80%);
}
.whom:before {
    content: "";
    position: absolute;
    height: 112px;
    width: 101%;
    transform: rotate(-3deg);
    top: -56px;
    background: #0c71b9;
    background: linear-gradient(to right, #0c75bb 46%, #0c68b4, #1e54a7 80%);
}
.whom__wrap {
    position: relative;
  
}
.whom__video {
    overflow: hidden;
    position: relative;
    width: 600px;
    height: 460px;
    top: -40px;
    transform: skewX(-45deg);
    transform: rotate(-3deg) skewX(-3deg);
    float: left;
    margin-right: 55px;
}
.whom-op-title {
    position: absolute;
    font-size: 7.9em;
    text-transform: uppercase;
    text-align: right;
    color: rgba(255, 255, 255, 0.051);
    font-weight: bold;
    right: 16px;
    bottom: 204px;
}
.whom__text {
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.2;
    padding-bottom: 35px;
}
.whom__text--first {
    position: relative;
    top: -30px;
    padding-bottom: 0;
}
.whom__title {
    font-size: 2.4em;
    font-weight: 900;
    padding-bottom: 35px;
    text-transform: uppercase;
}

/************-----------Section-features-----------************/

.features {
    position: relative;
    width: 100%;
    height: auto;
    background: #fff;
}
.features:before {
    content: "";
    position: absolute;
    height: 105px;
    width: 102%;
    transform: rotate(-3deg);
    top: -58px;
    left: -1%;
    background: #fff;
}
.features__wrap {
    padding: 25px 20px 70px;
    position: relative;
    z-index: 5;
}
.features__title {
    font-size: 2.4em;
    color: #188bc7;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 75px;
}
.features__list {
    width: 1140px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
}
.features__item {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -ms-align-items: center;
    align-items: center;
    text-align: center;
    width: 29%;
}
.features__img {
    padding-bottom: 40px;
}
.features__text {
    font-size: 1.3em;
    color: #464646;
    font-weight: 600;
    line-height: 1.1;
}
.features-op-title {
    position: absolute;
    z-index: -1;
    text-align: center;
    font-size: 9.375em;
    color: rgba(17, 101, 177, 0.102);
    font-weight: 900;
    left: 50%;
    transform: translate(-50%);
    top: 23%;
}

/************----------Section-Stories----------************/

.stories {
    position: relative;
}
.stories:before {
    content: "";
    z-index: -1;
    position: absolute;
    width: 102%;
    height: 44%;
    top: 40%;
    left: -1%;
    transform: rotate(-3deg);
    background: #0c71b9;
    background: linear-gradient(to right, #0c75bb 46%, #0c68b4, #1e54a7 80%);
}
.stories__slide {
    background: #fff;
    border-radius: 5px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    position: relative;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    /*justify-content: space-between;*/
    padding: 30px 20px;
    box-shadow: 0px 0px 51.3px 5.7px rgba(8, 74, 135, 0.4);
}
.stories__slide:before {
    content: "“";
    position: absolute;
    font-size: 7.5em;
    text-shadow: 0px 0px 22.68px rgba(8, 74, 135, 0.53);
    top: -36px;
    left: 25px;
}
.stories__title {
    font-size: 3em;
    text-shadow: 3px 3px 22.68px rgba(8, 74, 135, 0.58), 
                -1px -2px 24.68px rgba(8, 74, 135, 0.58);
    text-align: center;
    text-transform: uppercase;
    padding: 85px 0 75px;
}
.slide__title {
    margin-bottom: 20px;
}
.stories__flexslider,
.lawyers__flexslider {
    width: 1090px;
    max-width: 1090px;
    margin: 0 auto;
    border: none;
    background: transparent;
}
.stories__flexslider .flex-viewport {
    position: relative;
    overflow: visible !important;
}
.stories__flexslider li {
    width: 300px!important;
}
.stories-wrap {
    overflow: hidden;
    width: 100%;
    max-width: 1050px;
    /*padding: 0 84px;*/
}
.slide__img-wrap {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 30px;
    float: left;
}
.slide__img {
    height: 100%!important;
}
.slide__name {
    font-size: 1.1em;
    color: #000;
    font-weight: bold;
}
.slide__descr {
    height: 350px;
    color: #000;
    /*line-height: 1.6;*/
    text-align: center;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    justify-content: space-between;
}
.slide__descr p {
    font-size: 0.8em;
    line-height: 1.6;
    font-style: italic;
    overflow-y: auto;
}
a.stories__button {
    background-color: #fff;
    border: 3px solid #198bc7;
    box-shadow: none;
    color: #23385a;
    font-size: 0.79em;
    line-height: 3.6;
    text-transform: uppercase;
}

.stories__slide:hover a.stories__button {
    border-radius: 40px;
    background-color: #ffc000;
    color: #fff;
    text-align: center;
    border: none;
    line-height: 4.1;
}
.stories .flexslider .slides > li {
    margin-right: 15px!important;
    margin-left: 15px;
}
.stories .flex-direction-nav a.flex-prev {
    width: 50px;
    height: 50px;
    /* text-indent: 3px; */
    /* margin-right: -20px; */
    /* margin-top: 25px; */
    margin-left: -30px;

}
.stories .flex-direction-nav a.flex-prev:before {
    content: '\003C';
    color: #fff;
    font-size: 34px;
    margin-left: 12px;
    margin-top: 6px;
}

/***********----------Section-Booked----------***********/

.booked {
    height: 710px;
    background: #fff;
    background-image: url(../img/booked-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    top: -193px;
    z-index: -2;
}
.booked__wrap {
    width: 1090px;
    max-width: 100%;
    padding: 265px 20px 140px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
}
.booked__descr {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    justify-content: space-between;
    
}
/*form.booked__form {
    position: relative;
}*/
.booked__title,
a.booked__phone {
    color: #1b78cd;
    font-size: 1.8em; 
    line-height: 1.2;
    font-weight: bold;
}
a.booked__phone {
    font-size: 2.1em;
}
.booked__title {
    text-transform: uppercase;
}
.booked__text {
    font-size: 1.3em;
    line-height: 1.4;
    color: #1b78cd;
}
a.booked__phone {
    width: fit-content;
}
a.booked__phone:hover,
a.step-form__phone:hover {
    color: #ffc000;
}
/*.booked__input {
    position: relative;
}*/
.booked .input-name, 
.booked .input-phone,
.booked .input-mail,
.step-form .input-name, 
.step-form .input-phone,
.step-form .input-mail,
.choose .input-name, 
.choose .input-phone,
.choose .input-mail,
.judge .input-name, 
.judge .input-phone,
.judge .input-mail {
    color: #9e9e9e;
    padding-left: 15px;
    border-radius: 5px;
    border: 2px solid rgb(27, 120, 205);
    background: rgba(255, 255, 255, 0.5);
    width: 283px;
    max-width: 100%;
    height: 42px;
    margin-bottom: 15px;
}
.booked__button {
    margin-top: 25px!important;
}

/*******************Section-Calc*******************/

.calc {
    background: #164b82;
    background-image: url(../img/calc-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    top: -315px;
}
.calc__wrap {
    width: 1090px;
    max-width: 100%;
    padding: 70px 20px;
}
.calc__title {
    font-size: 1.85em;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}
.calc__items {
    margin-top: 35px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
}
.calc__item {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -ms-align-items: flex-start;
    align-items: flex-start;
}
.calc__span {
    display: block;
    font-size: 0.9em;
    font-weight: 600;
    padding-bottom: 20px;
    padding-top: 10px;
}
.calc .input-name {
    color: #9e9e9e;
    font-weight: 300;
    padding-left: 15px;
    border-radius: 5px;
    border: 1px solid #fff;
    background: #fff;
    width: 330px;
    max-width: 100%;
    height: 45px;
}
a.calc__button {
    margin-top: 40px;
} 
.calc__name {
    font-size: 0.9em;
    font-weight: 600;
}
.calc__total {
    font-size: 2.2em;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
}
.calc-order {
    font-size: 0.96em;
    font-weight: bold;
    color: #ffc000;
    text-decoration: underline;
}
.calc-order:hover,
.calc-order:active,
.calc-order:focus {
    text-decoration: none;
}
.calc__item--main {
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
}

/************---------Section-Numbers---------************/

.numbers {
    width: 100%;
    height: auto;
    background: #fff;
    position: relative;
    top: -315px;
}
.numbers-wrap {
    padding: 70px 20px;
    width: 1060px;
    max-width: 100%;
}
.numbers__title {
    font-size: 1.5em;
    font-weight: 900;
    line-height: 1.2;
    color: #1165b1;
    text-align: center;
    text-transform: uppercase;
}
.numbers__items {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
    margin-top: 60px;
}
.numbers__item {
    color: #afafaf;
    text-align: center;
}
.number {
    font-size: 1.8em;
    font-weight: 900;
    text-transform: uppercase;
}
.nm-descr {
    font-size: 1.19em;
    text-transform: uppercase;
    padding-top: 10px;
}
.numbers__line {
    width: 4px;
    height: 65px;
    background-color: #ffc000;
    transform: rotate(-35deg);
}
.numbers__item--orange {
    color: #ffc000;
}

/*************--------Section-Steps--------*************/

.steps {
    position: relative;
    top: -315px;
}
.steps__wrap,
.steps-2__wrap,
.steps-3__wrap {
   width: 1090px;
    /* max-width: 100%; */
    padding: 70px 20px 180px;
    max-width: 100%;
    margin: 0 auto;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}
.steps-1,
.steps-3 {
    width: 100%;
    height: 440px;
    background-color: #efefef;
}
.steps-1__img,
.steps-2__img,
.steps-3__img {
    position: relative;
    margin-right: 110px;
}
.steps__round {
    width: 252px;
    height: 252px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 31px rgba(64, 146, 188, 0.72);
    position: relative;
}
.steps__number {
    font-size: 11.76em;
    font-weight: bold;
    color: #198bc7;
    position: absolute;
    bottom: 55px;
    right: 84px;
}
.steps__text {
    font-size: 5.103em;
    font-weight: bold;
    text-shadow: 0 0 31px rgba(64, 146, 188, 0.72);
    color: #fff;
    position: absolute;
    bottom: 84px;
    right: 107px;
}
.steps__title {
    color: #198bc7;
    font-size: 2.4em;
    font-weight: 900;
    letter-spacing: 1.2px;
    line-height: 1.2;
    text-transform: uppercase;
    padding-bottom: 35px;
}
.steps-1__text,
.steps-2__text,
.steps-3__text {
    color: #000;
    font-size: 1.2em;
    line-height: 1.4;
}
.steps-2 {
    width: 100%;
    height: 180px;
    background-color: #fff;
    position: relative;
    z-index: 1;
}
.steps-2:before {
    content: "";
    position: absolute;
    z-index: -1;
    height: 105px;
    width: 102%;
    transform: rotate(-3deg);
    top: -58px;
    left: -1%;
    background: #fff;
}
.steps-2:after {
    content: "";
    position: absolute;
    z-index: -1;
    height: 105px;
    width: 102%;
    transform: rotate(3deg);
    bottom: -180px;
    left: -1%;
    background: #fff;
}
.steps-2__img {
    margin-left: 110px;
    margin-right: 0;
}
.steps-2__wrap {
    padding: 30px 20px 180px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
}
.steps-2__img .steps__number {
    color: #ffc000;
    right: 56px;
}
.steps-3__img .steps__number {
    right: 58px;
}
.steps-3__wrap {
    margin-top: 120px;
    padding-top: 125px;
    padding-bottom: 0;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
}

/*************---------Section-Step-Form---------*************/

.step-form {
    background: #258dc4;
    background-image: url(../img/step-form.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    top: -315px;
}
.step-form__wrap {
    width: 1090px;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: space-between;
    padding: 70px 20px;
}
.step-form__descr {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -ms-align-items: flex-start;
    align-items: flex-start;
}
.step-form__title {
    font-size: 2.2em;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.2;
}
.step-form__text {
    font-size: 1.625em;
    line-height: 1.385;
    padding: 40px 0;
}
a.step-form__phone {
    font-size: 2.1em;
    color: #fff;
    font-weight: bold;
}
.step-form .input-name, 
.step-form .input-phone, 
.step-form .input-mail,
.choose .input-name, 
.choose .input-phone, 
.choose .input-mail {
    background: rgba(255, 255, 255);
    border: none;
    width: 280px;
    height: 44px;
}

/***********----------Section-Benefit----------***********/

.benefit {
    position: relative;
    top: -315px;
}
.benefit-1 {
    width: 100%;
    background-color: #fff;
}
.benefit__wrap {
    width: 1090px;
    max-width: 100%;
    height: auto;
    margin: 30px auto 0;
    padding: 0 20px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
}
.benefit__title {
    font-size: 2.4em;
    color: rgb(25, 139, 199);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 0.625;
    text-align: center;
    padding: 70px 0 60px;
}
.benefit__img {
    position: relative;
    margin: 0 160px 0 33px;
}
.benefit__round {
    position: relative;
    z-index: 1;
    width: 196px;
    height: 196px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0px 0px 58.5px 6.5px rgba(8, 74, 135, 0.2);
}
.benefit__icon {
    width: 90px;
    height: auto;
    position: absolute;
    z-index: 2;
    top: 63px;
    left: 89px;
}
.benefit__number {
    font-size: 7em;
    color: rgb(25, 139, 199);
    font-weight: bold;
    /* line-height: 0.537; */
    position: absolute;
    z-index: 2;
    bottom: 50px;
    right: 126px;
}
.benefit__subtitle,
.benefit__text {
    font-size: 1.2em;
    color: rgb(40, 40, 40);
    line-height: 1.2;
}
.benefit__subtitle {
    font-weight: bold;
    padding-bottom: 20px;
}
.benefit-2__img,
.benefit-4__img {
    margin: 0 33px 0 160px;
}
.benefit__icon-2,
.benefit__icon-3 {
    top: 46px;
}
.benefit-3 {
    width: 100%;
    height: auto;
    background-color: #efefef;
    position: relative;
}
.benefit-3:after {
    content: "";
    position: absolute;
    z-index: -1;
    height: 197px;
    width: 102%;
    transform: rotate(3deg);
    bottom: -167px;
    left: -1%;
    background: #efefef;
}
.benefit-3:before {
    content: "";
    position: absolute;
    z-index: -1;
    height: 213px;
    width: 102%;
    transform: rotate(-3deg);
    bottom: 149px;
    left: -1%;
    background: #efefef;
}
.benefit-5 {
    margin-bottom: 75px;
}

/**********-----------Section-Lawyers-----------**********/
.lawyers {
    position: relative;
}
.lawyers:before {
    content: "";
    z-index: -1;
    position: absolute;
    width: 102%;
    height: 44%;
    top: -14%;
    left: -1%;
    transform: rotate(-3deg);
    background: #0c71b9;
    background: linear-gradient(to right, #0c75bb 46%, #0c68b4, #1e54a7 80%);
}
.lawyers__wrap {
    width: 1090px;
    max-width: 100%;
    height: auto;
    position: relative;
    z-index: 2;
    top: -315px;
    padding: 0 20px;
    margin: 0 auto;
}
.lawyers__title {
    font-size: 2.4em;
    color: rgb(25, 139, 199);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.1;
    text-align: center;
}
.lawyers__subtitle {
    font-size: 1em;
    color: rgb(40, 40, 40);
    line-height: 1.2;
    text-align: center;
    padding: 50px 0;  
}


.lawyers__slide {
    width: 330px;
    height: 840px;
    padding: 25px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 51.3px 5.7px rgba(8, 74, 135, 0.4);
}
.lawyers__img-wrap {
    width: 100%;
    height: 280px;
    overflow: hidden;
}
.lawyers__img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.lawyers__title-img {
    background-image: -webkit-linear-gradient(bottom, rgb(43,114,195) 0%, rgb(30,170,228) 100%);
    background-image: -o-linear-gradient(bottom, rgb(43,114,195) 0%, rgb(30,170,228) 100%);
    background-image: linear-gradient(to top, rgb(43,114,195) 0%, rgb(30,170,228) 100%);
    font-size: 1.3em;
    font-weight: 600;
    line-height: 1.1;
    text-align: center;
    padding: 15px 10px;
}
.lawyers__descr-wrap {
    overflow: hidden;
    height: 110px;
    width: 100%;
    transition:all 0.5s;
}
.lawyers__descr {
    font-size: 0.7em;
    color: rgb(40, 40, 40);
    line-height: 1.1;
    text-align: left;
    padding-top: 20px;
}
.lawyers__read-more {
    font-size: 0.75em;
    color: rgb(24, 139, 199);
    background: none;
    padding-left: 0;
    border: none;
    margin: 10px 10px 5px 0;   
}
.open {
    height: auto; 
    position: relative;
    z-index: 25;
}
.lawyers__slide-subtitle {
    font-size: 1.05em;
    font-weight: bold;
    color: rgb(40, 40, 40);
    line-height: 1.429;
    text-align: left;
    margin: 30px 0;
}
.lawyers__slide-text {
    font-size: 0.75em;
    color: rgb(40, 40, 40);
    line-height: 1.4;
    text-align: center;
}
.lawyers__line {
    height: 2px;
    margin: 20px 0;
    background: #ccc;
    background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgb(154, 154, 154) 15%, rgb(152, 152, 152) 85%, rgba(255,255,255,1) 99%);
}

/************---------Section-Clients---------************/

.clients {
    position: relative;
    top: -510px;
}
.clients__wrap {
    width: 1090px;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 70px 20px;
}
.clients__title {
    font-size: 1.811em;
    color: #1165b1;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    padding-bottom: 70px;
}
.clients__subtitle {
    font-size: 1.3em;
    color: #000;
    text-align: center;
    padding: 40px 0 10px;
}
.clients__descr {
    font-size: 1.1em;
    color: #000;
}
.clients__number {
    font-size: 1.1em;
    color: #0ecd87;
    padding-left: 10px;
}
.clients__flexslider li.clients__item {
    text-align: center;
}
.clients__flexslider .flex-control-nav,
.proof__flexslider .flex-control-nav {
    position: relative;
}
/*************---------Section-Choose---------*************/

.choose {
    background-image: url(../img/choose-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    top: -444px;
    height: 647px;
    padding-top: 144px;
    z-index: 0;
}

/**********-----------Section-Guarantees-----------**********/

.guarantees {
    background-image: url(../img/guarantees-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    top: -480px;
    height: auto;
    z-index: -1;
}
.guarantees__title {
    font-size: 2.4em;
    font-weight: bold;
    text-transform: uppercase;
    padding: 70px 0;
    text-align: center;
}
.guarantees__wrap {
    width: 1090px;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    padding:0 20px 70px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-between;
}
.guarantees__item {
    width: 29%;
    text-align: center;
}
.guarantees__subtitle {
    font-size: 1.2em;
    font-weight: 600;
    line-height: 1.2;
    padding: 30px 0;
    text-transform: uppercase;
}
.guarantees__text {
    line-height: 1.4;
}
.guarantees-op-title {
    font-size: 12.5em;
    font-weight: 900;
    position: absolute;
    z-index: 0;
    bottom: 32%;
    left: 50%;
    transform: translateX(-50%);
    color: rgba(255, 255, 255, 0.051);
    font-weight: bold;
    text-transform: uppercase;
}

/***************-----------Section-Proof-----------***************/

.proof {
    background: #0c71b9;
    background: linear-gradient(to right, #0c75bb 46%, #0c68b4, #1e54a7 80%);
    height: auto;
    position: relative;
    top: -480px;
}
.proof__wrap {
    width: 1090px;
    max-width: 100%;
    padding: 70px 20px;
    margin: 0 auto;
}
.proof__title {
    font-size: 1.81em;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}
.proof__descr {
    font-size: 1em;
    text-align: center;
    line-height: 1.4;
    padding: 50px 0;
}
.proof__item {
    text-align: center;
}

/**********-------------Section-Judge-------------**********/

.judge {
    background-image: url(../img/judge-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    top: -480px;
    height: auto;
    z-index: -1;
}
.judge .step-form__descr,
.judge .step-form__phone {
    color: #1b78cd;
}
.judge .step-form__title {
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.6;
}

/*********------------Section-Doubts------------*********/

.doubts {
    position: relative;
    top: -480px;
    height: auto;
    z-index: -1;
}
.doubts__title {
    color: #1165b1;
    font-size: 2.4em;
    font-weight: bold;
    text-align: center;
    padding: 70px 0 50px;
}
.doubts__wrap {
    width: 1090px;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0 20px;
}
.doubts__items,
.doubts__item--hidden {
    list-style: none;
}
.doubts__item {
    position: relative;
    border-radius: 5px;
    border: 2px solid rgb(27, 120, 205);
    background: rgba(255, 255, 255);
    max-width: 100%;
    height: auto;
    font-size: 1.2em;
    color: #000;
    padding: 20px;
    cursor: pointer;
    transition: color 0.2s ease-out,
}
.doubts__item:after {
    transition: transform 0.2s ease-out,           
                background 0.2s ease-out,
                border-color 0.2s ease-out;
    content: '';
    height: 10px;
    width: 10px;
    display: block;
    border: 2px solid rgb(27, 120, 205);
    border-right-width: 0;
    border-top-width: 0;
    transform: rotate(-45deg);
    position: absolute;
    right: 20px;
    top: 25px;
}
.doubts__item:hover {
    color: rgb(27, 120, 205);
}
.doubts__line {
    width: 100%;
    height: 1px;
    background: rgb(27, 120, 205, 0.4);
    margin: 15px 0;
}
.doubts__item--hidden {
    display: none;
    font-size: 0.7em;
    line-height: 1.2;
}
.doubts__item.open-doubts {
    color: rgb(27, 120, 205);
}
.doubts__item.open-doubts .doubts__item--hidden{
    display: block;
    color: #000;
}
.doubts__item.open-doubts:after {
    transform: rotate(-225deg);
    top: 22px;
    border-color: #000;
}
/***************--------- Pop-up-form ---------***************/

.hidden {
    display: none;
}
#form_back {
    background-color: #F7F7F7;
    padding: 25px 30px;
    border: rgb(17, 171, 216) 5px solid;
    border-radius: 5px;
    max-width: 420px;
    margin: auto;
    position: relative;
}
#form_back label {
    display: block;
    margin-bottom: 15px;
    color: #666;
    font-size: 14px;
}
#form_back input {
    display: block;
    line-height: 40px;
    height: 40px;
    border: #D9D9D9 1px solid;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.06) inset;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.06) inset;
    width: 100%;
    text-indent: 10px;
    font-size: 20px;
    margin-top: 3px;
}
#form_back .button_wrap {
    text-align: center;
    margin: 30px 0 10px;
}
.button.button__form {
    max-width: 100%;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    -webkit-transition: color 0.2s ease-out,opacity 0.2s ease-out,background 0.2s ease-out;
    -o-transition: color 0.2s ease-out,opacity 0.2s ease-out,background 0.2s ease-out;
    transition: color 0.2s ease-out,opacity 0.2s ease-out,background 0.2s ease-out;
    width: 200px;
    height: 40px;
    font-size: 1em;
    font-weight: bold;
    font-weight: 300;
    line-height: 2;
    background-color: rgb(194, 12, 38);
    border: 1px solid rgb(194, 12, 38);
    color: #fff;
}
.button.button__form:hover {
    background-color: #fff;
    color: rgb(194, 12, 38);
}
#form_back h5 {
    text-align: center;
    font-weight: normal;
}
#form_back p {
    color: #3c3c3c;
    text-align: center;
    padding: 15px 0 20px;
}