/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1205px) {
	/*Section-Header-Menu*/
	.logo-menu-wrap {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		-ms-align-items: flex-start;
		align-items: flex-start;
	}
}
@media only screen and (max-width : 1170px) {
	
	/*Section-Header-Menu*/
	.menu__links-item {
		padding-right: 1em;
	}
	/*Section-Whom*/
	.whom:before {
		top: -85px;
	}
	.whom__video {
		width: 500px;
    	height: 380px;
		margin-right: 20px;
		margin-bottom: 42px;
	}
	.whom__video iframe {
		width: 500px;
    	height: 380px;
	}
	.whom__descr {
		position: relative;
    	top: -59px;
	}
	.whom__text--first {
		top: 0px;
	}
	.whom__text,
	.whom__title {
		padding-bottom: 20px;
	}

	/*Section-Review*/

	.audio__item {
		width: 400px;
	}

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

	/*Section-Header-Menu*/

	.menu__icon {
		display: block;
	}
	.menu__links {
		display: none;
	}
	/*Section-Header-Main*/
	
	.header-main {
		height: auto;
	}
	.header-main__wrap {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		-ms-align-items: center;
		align-items: center;
	}
	.header-main__descr {
		-ms-align-items: center;
		align-items: center;
	}
	h1.header-main__title {
		text-align: center;
	}
	.cons-form {
		margin-top: 25px;
		margin-bottom: 25px;
	}

	/*Section-Whom*/

	.whom__wrap {
		display: flex;
    	flex-direction: column;
    	align-items: center;
	}
	.whom__video {
		transform: none;
		width: 530px;
		margin-right: 0;
		text-align: center;
	}
	.whom__descr {
		top: -44px;
		margin-bottom: 52px;
	}

	/*Section-Features*/

	.features-op-title {
		display: none;
	}

	/*Section-Calc*/

	.calc__item-wrap {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}

	/*Section-Steps*/
	
	.steps-1 {
		height: 454px;
	}
	.steps-2 {
		height: 90px;
	}
	.steps-3 {
	    height: 365px;
	}

	/*.steps__wrap, .steps-2__wrap, .steps-3__wrap {
		padding-top: 55px;
	}*/
	.steps__round {
		width: 150px;
		height: 150px;
	}
	.steps-1__img, .steps-3__img {
		margin-right: 30px;
	}
	.steps-2__img {
		margin-right: 0;
		margin-left: 30px;
	}
	.steps__number {
	    font-size: 6.76em;
	    bottom: 175px;
	    right: 44px;
	}
	.steps__text {
	    font-size: 3.503em;
	    bottom: 185px;
	    right: 48px;
	}
	.steps-2__img .steps__number,
	.steps-3__img .steps__number {
	    right: 32px;
	    bottom: 24px;
	}
	.steps-2__img .steps__text,
	.steps-3__img .steps__text {
		bottom: 34px;
	}

	/*Section-Benefit*/

	.benefit__number {
		right: 89px;
	}

	/*Section-Question*/

	.question__container {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
	.question__descr {
		justify-content: flex-start;
	}
	.question__textarea textarea {
		margin-left: 0;
	}
	.question__title {
		margin-bottom: 15px;
	}

	/*Section-Review*/

	.review__container {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		-ms-align-items: center;
		align-items: center;
	}
	.review__video {
		margin-bottom: 20px;
	}
	.review__docs {
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
		justify-content: center;
	}
	.review__docs a {
		width: 40%;
		margin-bottom: 15px;
		margin-left: 1%;
	}
	.review__docs a:last-child {
	    margin-right: 1%;
	}

	/*Section-Conditions*/
	.rates-label {
		display: none;
	}
	.cond__container {
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
		justify-content: center;
	}
	.rates-item {
		width: 60%;
		margin-bottom: 25px;
	}
	.rates-item ul li {
		display: flex;
    	justify-content: space-between;
	}
	.rates-item ul .name {
		display: block;
		text-align: left;
	}
	.rates-item .checkbox-yes, .rates-item .checkbox-no {
		margin: 0;
	}
	a.cond__button {
		width: 100%;
	}

	/*Section-Contacts*/

	.contacts__item {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
	.contacts__items {
		justify-content: center;
	}
	.contacts__title,
	.contacts__address,
	.contacts__connect,
	.contacts__time {
		text-align: center;
	}
	.contacts__img-wrap {
		margin-bottom: 10px;
	}
	
}

@media only screen and (max-width : 880px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	
	/*Disable Animation on Mobile Devices*/
	.animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		animation: none !important;
	}

	/*Section-Header-Main*/

	.header-main__subtitle {
		text-align: center;
	}

	/*Section-Whom*/

	.whom-op-title {
		display: none;
	}
	.whom__video {
		width: 100%;
	}

	/*Section-Booked*/
	
	.booked {
		height: auto;
	}
	.booked__wrap {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		-ms-align-items: center;
		align-items: center;
		padding-bottom: 50px;
	}
	.booked__descr {
		text-align: center;
	}
	a.booked__phone {
		width: 100%;
		margin: 15px 0;
	}
	.booked__text {
		margin-top: 15px;
	}

	/*Section-Calc*/

	.calc {
		top: -197px;
	}
	.calc__items {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		-ms-align-items: center;
		align-items: center;
	}
	.calc__item--main {
		margin-top: 35px;
	}
	.calc__item {
		margin-right: 0;
	}

	/*Section-Numbers */

	.numbers {
		top: -197px;
	}

	/*Section-Steps*/

	.steps {
		top: -197px;
	}

}

@media only screen and (max-width : 640px) {
	
	/*Section-Numbers*/

	.numbers__items {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		-ms-align-items: center;
		align-items: center;
		margin-top: 35px;
	}
	.numbers__item {
		margin: 15px 0;
	}
	.numbers-wrap {
		padding-bottom: 40px;
	}
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 500px) {
	
	body {
		font-size: 0.8em;
	}

	/*Section-Header-Main*/

	.header-main__wrap,
	h1.header-main__title {
		padding-top: 30px;
	}
	.cons-form {
		padding: 35px;
	}
	.cons-form .input-name, .cons-form .input-phone {
		width: 100%;
	}
	a.button {
		line-height: 2.9;
    	font-size: 1.3em;
	}

	/*Section-Whom*/
	
	.whom__video {
	    height: 335px;
	    margin-bottom: 18px;
	}
	.whom__video iframe {
	    width: 433px;
	    height: 325px;
	}
	.whom__descr {
		margin-bottom: 31px;
	}

	/*Section-Features*/

	.features__wrap {
		padding: 0px 20px 0;
	}
	.features__title {
		padding-bottom: 50px;
	}
	.features__list {
		justify-content: center;
	}
	.features__item {
		width: 53%;
		margin-bottom: 35px;
	}

	/*Section-Stories*/

	.stories__title {
		padding: 50px 0 50px;
	}

	/*Section-Calc*/

	.calc__wrap {
		padding: 50px 20px;
	}
	.calc .input-name {
		width: 300px;
	}

	/*Section-Numbers*/

	.numbers-wrap {
		padding-top: 50px;
	}
	.numbers__items {
		margin-top: 15px;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 400px) {
	/*Section-Header-Menu*/

	.logo-header {
		margin-right: 0;
		margin-top: 0;
	}
	.logo-header__img {
	    width: 92px;
	}

	/*Section-Whom*/

	.whom__video {
	    height: 267px;
	}
	.whom__video iframe {
	    width: 100%;
	    height: 100%;
	}
}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}